.genres_tv {
   max-width: 100%;
}

.genres_item {
    margin: 0 5px;
}

@media only screen and (max-width: 1024px) {
    .genres_tv {
        display: grid;
        width: 100%;
        grid-template-columns:repeat(8, 1fr);
        gap: .5rem;
    }
}

@media only screen and (max-width: 768px) {
    .genres_tv {
        display: grid;
        width: 100%;
        grid-template-columns:repeat(5, 1fr);
      
       
    }
}
@media only screen and (max-width: 600px) {
    .genres-parent_child {
        padding-left: -50px;
    }
    .genres_tv {
        display: grid;
       padding-left: -50px;
        grid-template-columns:repeat(4, 120px);
      
    }
}
@media only screen and (max-width: 414px) {
    .genres-parent_child {
      
    }
    .genres_tv {
        display: grid;
        width: 100%;
        grid-template-columns:repeat(2, 1fr);
     
    }
}
@media only screen and (max-width: 375px) {
    .genres-parent_child {
        margin-left: -40px;
    }
    .genres_tv {
        display: grid;
        width: 100%;
        grid-template-columns:repeat(2, 1fr);
        margin-right: 40px;
    }
}